services:
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  db:
    image: mariadb:10.4.12-bionic
    restart: always
    environment:
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: '%'
    ports:
      # For local development, set DATABASE_URL=mysql2://root:root@0.0.0.0:33306/NARA_DEV
      # or use `mysql -u root -proot -h 0.0.0.0 -P 33306 -D NARA_DEV`
      - 33306:3306

  web:
    build:
      context: .
      target: development
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./:/opt/app:delegated

version: "3.7"
