services:
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  db:
    image: mariadb:10.4.12-bionic
    restart: always
    environment:
    MYSQL_USER: root
    MYSQL_PASSWORD: root

  web:
    build:
      context: .
      target: development
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./:/opt/app:delegated

version: "3.7"
