services:

  db:
    image: mariadb:10
    environment:
      # Default password for the image is empty
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: NARA
    restart: always
    ports:
      - 3306:3306
    command: --ft-min-word-len=3
    volumes:
      - ./db/dumps:/docker-entrypoint-initdb.d

  app:
    build:
      context: .
      target: development
    depends_on:
      - db
    environment:
      DATABASE_URL: 'mysql2://root:root@db:3306/NARA'
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./:/opt/app:delegated
