<%= form_for(@searchcase, :html => { :multipart => true }) do |f| %>

		<p>
			<%= f.label :LASTNAME do %>
				Enter query:<br />
				<%= f.text_field :LASTNAME, placeholder: 'Enter a last name' %>
			<% end %>
		</p>

	<%= f.submit 'Search', aria: { label: 'Search case files' } %>

<% end %>

