<h3>A dataset from Investigation Arrival Case Files, San Francisco and Hawaii,</br>
Records of the U.S. Immigration and Naturalization Service, Record Group 85, National Archives at San Francisco</h3>
