<div id="main-search" class="container search-form">
  <h3>Immigration record:</h3>
    <%= form_tag(action="/searchcase/display", method: "get") do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>
</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>







