<!DOCTYPE html>
<html>
<head>
  <title>NARA</title>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <%= link_to image_tag(asset_path('nara.jpg')),"http://bancroft.berkeley.edu/collections/chinese-immigration-to-the-united-states-1884-1944" %>
  </div>
<div class="container">
  <h2 class="display-3">The Early Arrivals Records Search (EARS)</h2>
  <h4>A dataset from Investigation Arrival Case Files, San Francisco and Hawaii, Records of the U.S. Immigration and Naturalization Service, Record Group 85, National Archives at San Francisco.</h3>
</div>

<%= yield %>

<div id="footer-wrapper">
  <div id="footer" class="container">
    <header class="major">
      <h2><a id="engage"></a>Engage</h2>
    </header>
    <div class="row">
      <section class="6u 12u(narrower)">
                    <div class="row 50%">
          <ul class="divided icons 6u 12u(mobile)">
             <li class="icon fa-bank">
                                <a href="http://www.lib.berkeley.edu/libraries/bancroft-library">
                                The Bancroft Library</a></li>
                                <li class="icon fa-wordpress">
                                <a href="https://bancroftdigitalcollectionsunit.wordpress.com/">
                                Digital Collections Unit</a></li>
             <li class="icon fa-envelope">
                                 <a href="http://www.lib.berkeley.edu/libraries/bancroft-library/research-assistance">Contact Us</a></li>
          </ul>
                            </div>
                            </section>
                    <section class="6u 12u(narrower)">
                    <div class="row 0%">
          <ul class="divided icons 6u 12u(mobile)">
                              <li class="icon fa-facebook">
                                <a href="https://www.facebook.com/BancroftLibrary">Bancroft Facebook</a></li>
            <li class="icon fa-twitter">
                                <a href="https://twitter.com/bancroftlibrary">Bancroft Twitter</a></li>
                              <li class="icon fa-pinterest">
                                <a href="https://www.pinterest.com/bancroftlibrary/">
                                Bancroft Pinterest</a></li>
          </ul>
        </div>
      </section>
                    <p> </p>
    </div>
                <div>
                 <ul class="actions" align="center">
      <li><a href="#top" class="button">Back to Top</a></li>
     </ul>
                </div>
  </div>
  <div id="copyright" class="container">
    <ul class="menu">
                    <li><a href="http://www.lib.berkeley.edu/libraries/bancroft-library">The Bancroft Library</a></li>
      <li>© University of California Regents. All rights reserved.</li>
    </ul>
  </div>
</div>
</body>
</html>
