<!DOCTYPE html>
<html>
<head>
  <title>NARA</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="navbar">
    <%= link_to image_tag(asset_path('nara.jpg')),"http://bancroft.berkeley.edu/collections/chinese-immigration-to-the-united-states-1884-1944" %>
  </div>
<div class="container">
  <h2 class="display-3">The Early Arrivals Records Search (EARS)</h2>
  <h4>A dataset from Investigation Arrival Case Files, San Francisco and Hawaii, Records of the U.S. Immigration and Naturalization Service, Record Group 85, National Archives at San Francisco.</h3>
</div>

<%= yield %>

<div id="footer-wrapper"><div class="section">

  <div id="footer-columns" class="clearfix">
  <div class="region region-footer-firstcolumn">
<div id="block-block-5" class="block block-block">


<div class="content">
<div><a href="https://www.lib.berkeley.edu/hours">Libraries</a></div>
</div>
</div>
</div>
  <div class="region region-footer-secondcolumn">
<div id="block-menu-menu-using-the-libraries" class="block block-menu" style="display: block;">

<div class="footer-column-menu-header"><a href="/using-the-libraries">Using the Libraries</a></div>

<div class="content">
<ul class="menu clearfix"><li class="first leaf"><a href="http://www.lib.berkeley.edu/hours">List of libraries</a></li>
<li class="leaf"><a href="/using-the-libraries/borrow">Borrow</a></li>
<li class="leaf"><a href="/using-the-libraries/renew">Renew</a></li>
<li class="leaf"><a href="https://guides.lib.berkeley.edu/libraryequipment">Equipment lending</a></li>
<li class="leaf"><a href="/using-the-libraries/fines">Pay fines</a></li>
<li class="leaf"><a href="/using-the-libraries/connect-off-campus">Connect from off campus</a></li>
<li class="leaf"><a href="/using-the-libraries/find-study-space">Find a study space</a></li>
<li class="leaf"><a href="https://berkeley.libcal.com/" id="berkeley-libcal-menu-link" rel="noopener noreferrer" target="_blank">Reserve a study room</a></li>
<li class="leaf"><a href="/using-the-libraries/interlibrary-loan">Interlibrary Borrowing and Lending</a></li>
<li class="leaf"><a href="/using-the-libraries/print-scan">Print/scan</a></li>
<li class="leaf"><a href="/using-the-libraries/librarian-visit">Have a librarian meet with your class</a></li>
<li class="last leaf"><a href="/using-the-libraries/computers">Computers in the libraries</a></li>
</ul>  </div>
</div>
</div>
  <div class="region region-footer-thirdcolumn">
<div id="block-menu-menu-how-to-find" class="block block-menu" style="display: block;">

<div class="footer-column-menu-header"><a href="/research-support">Research Support</a></div>

<div class="content">
<ul class="menu clearfix"><li class="first leaf"><a href="/research-support/guides-and-tutorials">Guides and tutorials</a></li>
<li class="leaf"><a href="/research-support/cite-sources">Cite sources</a></li>
<li class="leaf"><a href="https://guides.lib.berkeley.edu/az.php">Databases</a></li>
<li class="leaf"><a href="https://libproxy.berkeley.edu/login?qurl=https://ucelinks.cdlib.org/sfx_ucb/az">eJournals (UC eLinks)</a></li>
<li class="leaf"><a href="https://digital.lib.berkeley.edu/">Digital Collections</a></li>
<li class="leaf"><a href="/research-support/data-gis">Data/GIS</a></li>
<li class="leaf"><a href="/research-support/articles">Articles</a></li>
<li class="leaf"><a href="/research-support/books-ebooks">Books and eBooks</a></li>
<li class="leaf"><a href="/research-support/media">Media</a></li>
<li class="leaf"><a href="/research-support/course-reserves">Course reserves</a></li>
<li class="leaf"><a href="/scholarly-communication">Scholarly Communication and Publishing</a></li>
<li class="last leaf"><a href="/level-up">Level Up</a></li>
</ul>  </div>
</div>
</div>
  <div class="region region-footer-fourthcolumn">
<div id="block-menu-menu-about" class="block block-menu" style="display: block;">

<div class="footer-column-menu-header"><a href="/about">About</a></div>

<div class="content">
<ul class="menu clearfix"><li class="first leaf"><a href="/about/about-the-libraries">About the Libraries</a></li>
<li class="leaf"><a href="http://www.lib.berkeley.edu/hours">Hours and maps</a></li>
<li class="leaf"><a href="https://ucberkeley.libanswers.com/">FAQ</a></li>
<li class="leaf"><a href="https://give.lib.berkeley.edu/">Giving to the University Library</a></li>
<li class="leaf"><a href="/about/library-communications">Communications and media</a></li>
<li class="leaf"><a href="https://news.lib.berkeley.edu">News</a></li>
<li class="leaf"><a href="https://update.lib.berkeley.edu/">Updates</a></li>
<li class="leaf"><a href="http://libevents.berkeley.edu/">Events</a></li>
<li class="leaf"><a href="/about/online-exhibits">Online exhibits</a></li>
<li class="leaf"><a href="http://www.lib.berkeley.edu/ldclient">Staff directory</a></li>
<li class="last leaf"><a href="https://guides.lib.berkeley.edu/scholarly-resources">Scholarly resources</a></li>
</ul>  </div>
</div>
</div>
  <div class="region region-footer-fifthcolumn">
<div id="block-menu-menu-help" class="block block-menu" style="display: block;">

<div class="footer-column-menu-header"><a href="/help">Help</a></div>

<div class="content">
<ul class="menu clearfix"><li class="first leaf"><a href="https://ucberkeley.libanswers.com/" id="research-help">Research help</a></li>
<li class="leaf"><a href="/help/subject-specialists">Subject librarians</a></li>
<li class="leaf"><a href="/help/disability-resources">Disability resources</a></li>
<li class="last leaf"><a href="/help/contact">Contact us</a></li>
</ul>  </div>
</div>
</div>
</div>

  <div id="footer" class="clearfix">
  <div class="region region-footer">
<div id="block-block-6" class="block block-block">


<div class="content">
<div id="block-menu-menu-footer-menu">
<div class="content">
<ul id="footer-menu-link-list-logo">
<li><a href="https://www.berkeley.edu"><img alt="University of California, Berkeley" id="ucberkeley-logo" src="https://www.lib.berkeley.edu/sites/default/files/logo_berkeley.png" width="160" height="50"> </a></li>
<li class="first leaf"><a class="footer-menu-link" href="https://www.lib.berkeley.edu/Staff/">Staff Website</a></li>
<li class="leaf"><a class="footer-menu-link" href="/about/privacy-policy">Privacy Policy</a></li>
<li class="leaf"><a class="footer-menu-link" href="https://las.lib.berkeley.edu/lhrd/jobs">Jobs in the Library</a></li>
<li class="leaf"><a class="footer-menu-link" href="https://las.lib.berkeley.edu/lhrd/jobs/student-jobs">Student jobs in the Library</a></li>
<li class="leaf"><a href="https://www.facebook.com/ucberkeleylibrary" target="_blank"><img alt="University Library Facebook page" class="gzuubryibhttbkadnopr" src="https://www.lib.berkeley.edu/sites/default/files/resize/images/facebook-icon-66x66-33x33.png" style="width: 33px; height: 33px; margin-top: 18px; margin-bottom: 18px;" width="33" height="33"></a></li>
<li class="last leaf"><a href="https://twitter.com/ucberkeleylib" target="_blank"><img alt="University Library Twitter feed" class="gzuubryibhttbkadnopr" src="https://www.lib.berkeley.edu/sites/default/files/resize/images/twitter-icon-66x66-33x33.png" style="width: 33px; height: 33px; margin-top: 18px; margin-bottom: 18px;" width="33" height="33"></a></li>
</ul>
</div>
</div>
<div id="uc-copyright-notice">Copyright © The Regents of the University of California. All rights reserved.<br>
Except where otherwise noted, this work is subject to a <a href="/about/creative-commons">Creative Commons Attribution-Noncommercial 4.0 License</a>.</div>
</div>
</div>
</div>
</div>

</div></div>
</div>
</body>
</html>
